@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-decoration: none;
  padding: 20px 0;
  border-bottom: 1px solid rgb(212, 211, 211);
}

.container div {
  width: 200px;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  text-align: right;
  color: #000;
}

.cell {
  display: flex;
  align-items: center;
}

.logo {
  width: 30px;
  height: 30px;
  display: block;
  margin-right: 10px;
}

.container:hover {
  background-color: rgb(246, 246, 246);
}
